<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboottoursystem.mapper.EdgeMapper">
    <!-- 查询所有边 -->
    <select id="findAll" resultType="org.example.springboottoursystem.domain.Edge">
        SELECT id, length, crowd, start_node AS startNode, end_node AS endNode FROM edge
    </select>
</mapper>